<div class="col-2 member-column">
    <article class="github-member">
        <a href="{{urlref url}}" title="{{name}}" target="_blank" rel="noopener noreferrer">
            <img src="{{imgUrl}}" alt="{{name}}" draggable="false" />
            <div class="name">
                <p class="max-1-line">{{name}}</p>
            </div>
        </a>
    </article>
</div>