<article class="row project-tile">
    <div class="col-9">
        <h3>{{title}}</h3>
        <p>{{{description}}}</p>
    </div>
    <div class="col-3 image-column noselect">
        <img src="{{imageUrl}}" alt="{{title}}" draggable="false" />
    </div>
    <div class="col-9">
        <div class="links noselect">
            {{#each links}}
            <a href="{{urlref url}}" role="button" class="outline" title="{{title}}" target="_blank"
                rel="noopener noreferrer">{{title}}</a>
            {{/each}}
        </div>
    </div>
    <div class="col-3 image-column noselect"></div>
</article>